@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.로그인 {
  text-align: center;
  max-width: 320px;
  width: 100%;
  margin-top: 100px;
}

.logo {
  width: 120px;
  margin-top: 0px;
}

.회원가입 {
  font-size: 14px;
  color: #5C5C5C;
  margin-bottom: 40px;
}


.입력 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.회원가입 a {
  color: #91BBFF;
  font-weight: bold;
  text-decoration: none;
}



.입력 input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.입력 button {
  padding: 14px;
  background-color: #CEBEFF;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
}

.입력 button:hover {
  background-color: #bbaaf5;
}

.비번찾기 {
  font-size: 13px;
  color: #5C5C5C;
  text-decoration: none;
  align-self: flex-end;
}

.한국 {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 4px;
}